pane_frames false
session_serialization false

theme "default"

themes {
    default {
        fg "#404040"
        bg "#202020"
        black "#202020"
        red "#cccccc"
        green "#ff8230"
        yellow "#EBCB8B"
        blue "#81A1C1"
        magenta "#B48EAD"
        cyan "#88C0D0"
        white "#cccccc"
        orange "#00b093"
    }
}

ui {
    pane_frames {
        rounded_corners true
    }
}
keybinds {
    shared {
      bind "Alt h" { MoveFocusOrTab "Left"; }
      bind "Alt l" { MoveFocusOrTab "Right"; }
      bind "Alt j" { MoveFocusOrTab "Up"; }
      bind "Alt k" { MoveFocusOrTab "Down"; }
    }
}
default_layout "compact"
